In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

import datetime as dt
import bs4 as bs
import robin_stocks as r
import requests
import lxml
from lxml import etree


We need to make this work with all sets of data from certain lists in Robinhood. 
Next Steps:
-Log in to Robhin hood
-Use Beatiful Soup to Scrape the ticker list of: 
    - 100 Most Popular
    - Top Movers
    - Index ETFs
    - Crypto

In [2]:
## getting the tickers of the 100 most popular list off of Robinhood 

resp = requests.get('https://robinhood.com/collections/100-most-popular')
# soup = bs.BeautifulSoup(resp.text, 'lxml') # parse into soup object
soup = bs.BeautifulSoup(resp.content, 'html.parser')
table = soup.find("table", {"class": "_25eGUhpRN5n6jaWqzmSOZl table"})

In [18]:
tickers = []

for row in table.findAll('tr')[1:]:
    ticker = row.findAll('td')[1].text
    tickers.append(ticker)

In [21]:
tickers.sort()
tickers

['AAL',
 'AAPL',
 'ACB',
 'AMC',
 'AMD',
 'AMZN',
 'APHA',
 'AZN',
 'BA',
 'BABA',
 'BAC',
 'BP',
 'BRK.B',
 'BYND',
 'CCL',
 'CGC',
 'CPRX',
 'CRBP',
 'CRON',
 'DAL',
 'DIS',
 'DKNG',
 'ET',
 'F',
 'FB',
 'FCEL',
 'FIT',
 'GE',
 'GILD',
 'GM',
 'GOOGL',
 'GPRO',
 'GPS',
 'GUSH',
 'HAL',
 'IBIO',
 'INO',
 'INTC',
 'IVR',
 'JBLU',
 'JNJ',
 'JPM',
 'KO',
 'KODK',
 'KOS',
 'LUV',
 'LYFT',
 'MFA',
 'MGM',
 'MRNA',
 'MRO',
 'MSFT',
 'NCLH',
 'NFLX',
 'NIO',
 'NKE',
 'NKLA',
 'NOK',
 'NRZ',
 'NTDOY',
 'NVAX',
 'NVDA',
 'PENN',
 'PFE',
 'PLAY',
 'PLUG',
 'PSEC',
 'PTON',
 'PYPL',
 'RCL',
 'RKT',
 'SAVE',
 'SBUX',
 'SIRI',
 'SNAP',
 'SNE',
 'SPCE',
 'SPHD',
 'SPY',
 'SQ',
 'SRNE',
 'T',
 'TLRY',
 'TSLA',
 'TWTR',
 'TXMD',
 'UAL',
 'UBER',
 'UCO',
 'USO',
 'V',
 'VOO',
 'VSLR',
 'WFC',
 'WKHS',
 'WMT',
 'WORK',
 'XOM',
 'ZM',
 'ZNGA']

In [4]:
names = []

for row in table.findAll('tr')[1:]:
    name = row.findAll('td')[0].text
    names.append(name)

In [17]:
tickers

['AAL',
 'AAPL',
 'ACB',
 'AMC',
 'AMD',
 'AMZN',
 'APHA',
 'AZN',
 'BA',
 'BABA',
 'BAC',
 'BP',
 'BRK.B',
 'BYND',
 'CCL',
 'CGC',
 'CPRX',
 'CRBP',
 'CRON',
 'DAL',
 'DIS',
 'DKNG',
 'ET',
 'F',
 'FB',
 'FCEL',
 'FIT',
 'GE',
 'GILD',
 'GM',
 'GOOGL',
 'GPRO',
 'GPS',
 'GUSH',
 'HAL',
 'IBIO',
 'INO',
 'INTC',
 'IVR',
 'JBLU',
 'JNJ',
 'JPM',
 'KO',
 'KODK',
 'KOS',
 'LUV',
 'LYFT',
 'MFA',
 'MGM',
 'MRNA',
 'MRO',
 'MSFT',
 'NCLH',
 'NFLX',
 'NIO',
 'NKE',
 'NKLA',
 'NOK',
 'NRZ',
 'NTDOY',
 'NVAX',
 'NVDA',
 'PENN',
 'PFE',
 'PLAY',
 'PLUG',
 'PSEC',
 'PTON',
 'PYPL',
 'RCL',
 'RKT',
 'SAVE',
 'SBUX',
 'SIRI',
 'SNAP',
 'SNE',
 'SPCE',
 'SPHD',
 'SPY',
 'SQ',
 'SRNE',
 'T',
 'TLRY',
 'TSLA',
 'TWTR',
 'TXMD',
 'UAL',
 'UBER',
 'UCO',
 'USO',
 'V',
 'VOO',
 'VSLR',
 'WFC',
 'WKHS',
 'WMT',
 'WORK',
 'XOM',
 'ZM',
 'ZNGA']

In [5]:
# converting ticker list to csv
df_tickers = pd.DataFrame(tickers)
df_tickers.columns = ['TickerLabel']
df_tickers.to_csv('robinhood_data/ticker_lists/100_most_popular.csv')

In [6]:
df_tickers

   TickerLabel
0         CPRX
1         CRBP
2         BABA
3          SNE
4         APHA
..         ...
95        PSEC
96        KODK
97        SRNE
98        FCEL
99        NVAX

[100 rows x 1 columns]

In [7]:
df_tickers['Name'] = names
df_tickers

   TickerLabel                      Name
0         CPRX  Catalyst Pharmaceuticals
1         CRBP    Corbus Pharmaceuticals
2         BABA                   Alibaba
3          SNE                      Sony
4         APHA                    Aphria
..         ...                       ...
95        PSEC          Prospect Capital
96        KODK                     Kodak
97        SRNE     Sorrento Therapeutics
98        FCEL           FuelCell Energy
99        NVAX                   Novavax

[100 rows x 2 columns]

In [8]:
# for ticker in tickers:
#     ticker_str = str(ticker)
#     data = r.stocks.get_stock_historicals(ticker_str,interval='day', span='5year', bounds='regular')
#     df = pd.DataFrame(data)
#     df.to_csv('robinhood_data/stock_spreadsheets/{}.csv'.format(ticker_str))

In [30]:
# if you do not login with your robinhood you will get a 401 Client error
with open('../../LoginCredentials/rh.txt') as f:
            file = f.readlines()
            userName = file[0].split('\n')[0]
            passWord = file[1].split('\n')[0]
r.login(userName,passWord)

my_stocks = r.build_holdings()

In [10]:
## USING ROBINHOOD API TO GET 5 years of historical data

for index, ticker in enumerate(tickers):
    ticker_str = str(ticker)
    data = r.stocks.get_stock_historicals(ticker_str,interval='day', span='5year', bounds='regular')
    df = pd.DataFrame(data)
    df.to_csv('robinhood_data/stock_spreadsheets/{}_{}.csv'.format(ticker_str, names[index]))

Compile the csvs into one csv using pickle, we only need the close_price and beings_at columns

In [11]:
import pickle

In [34]:
df_tickers

   TickerLabel                      Name
0         CPRX  Catalyst Pharmaceuticals
1         CRBP    Corbus Pharmaceuticals
2         BABA                   Alibaba
3          SNE                      Sony
4         APHA                    Aphria
..         ...                       ...
95        PSEC          Prospect Capital
96        KODK                     Kodak
97        SRNE     Sorrento Therapeutics
98        FCEL           FuelCell Energy
99        NVAX                   Novavax

[100 rows x 2 columns]

In [35]:
df_tickers.to_csv('robinhood_data/100_most_popular_names.csv')

In [23]:
df_tickers.columns

Index(['TickerLabel', 'Name'], dtype='object')

In [25]:
df = pd.read_csv('robinhood_data/stock_spreadsheets/{}_{}.csv'.format(df_tickers['TickerLabel'][0], 
                                                                      df_tickers['Name'][0]))
df.head()

,Unnamed: 0,begins_at,open_price,close_price,high_price,low_price,volume,session,interpolated,symbol
0,0,2015-09-08T00:00:00Z,3.81,3.89,3.99,3.75,439802,reg,False,CPRX
1,1,2015-09-09T00:00:00Z,3.96,3.97,4.12,3.93,615921,reg,False,CPRX
2,2,2015-09-10T00:00:00Z,3.98,4.14,4.15,3.98,559045,reg,False,CPRX
3,3,2015-09-11T00:00:00Z,4.09,3.90,4.09,3.77,906010,reg,False,CPRX
4,4,2015-09-14T00:00:00Z,3.94,4.11,4.14,3.78,560824,reg,False,CPRX

In [29]:
df_tickers['Name'].size

100

In [33]:
main_df = pd.DataFrame()

for count, ticker in enumerate(df_tickers['TickerLabel']):
    df = pd.read_csv('robinhood_data/stock_spreadsheets/{}_{}.csv'.format(ticker, 
                                                                          df_tickers['Name'][count]))
    df.drop(['Unnamed: 0'], axis=1, inplace=True)
    df.set_index('begins_at', inplace=True)
    df.rename(columns={'close_price': ticker}, inplace=True)
    df.drop(['open_price', 'high_price', 'low_price', 'volume',
             'session', 'interpolated', 'symbol'], 
            axis=1, inplace=True)
    
    if main_df.empty:
        main_df = df
    
    else:
        main_df = main_df.join(df, how='outer')
        
    main_df.to_csv('robinhood_data/100_most_popular.csv')